<p id="notice"><%= notice %></p>
<% art=render 'mainpage/article_default' %>
<% provide(:article,art) %>

<div class="row">
  <div class="span7 offset1">
<h1><%= @article.title if @article.title.present? %></h1>

<div class="lead muted">
  <%= simple_format @article.des if @article.des.present? %>
  <hr>
</div>
<div class="article">
  <%= simple_format(@article.text) if @article.text.present? %>
</div>
<hr>
</div>
</div>
<div class="row">
  <div class="offset1 span2">
<p>Просмотров:
  <%= @article.view if @article.view.present? %>
</p>
</div>
<div class="span2">
<p>
  <%= simple_format @article.author if @article.author.present? %>
</p>
</div>

<div class="span2">
<p>Дата:
  <%= simple_format @article.add_time if @article.add_time.present? %>
</p>
</div>

</div><!--row--!>
