<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span7 offset1">
<h1><%= @article.title %></h1>

<div class="lead muted">
  <%= @article.des %>
  <hr>
</div>
<p class="article">
  <%= @article.text %>
</p>
<hr>
</div>
</div>
<div class="row">
  <div class="offset1 span2">
<p>
  <%= @article.view %>
</p>
</div>
<div class="span2">
<p>
  <%= @article.author %>
</p>
</div>

<div class="span2">
<p>
  <%= @article.mini_img %>
</p>
</div>

<div class="span2">
<p>
  <%= @article.add_time %>
</p>
</div>

</div><!--row--!>
