<p id="notice"><%= notice %></p>
<% art=render 'mainpage/article_default' %>
<% provide(:article,art) %>

<div class="row">
  <div class="span7 offset1">
<h1><%= @article.title %></h1>

<div class="lead muted">
  <%= @article.des %>
  <hr>
</div>
<p class="article">
  <%= simple_format(@article.text) %>
</p>
<hr>
</div>
</div>
<div class="row">
  <div class="offset1 span2">
<p>Просмотров:
  <%= @article.view %>
</p>
</div>
<div class="span2">
<p>Источник:
  <%= @article.author %>
</p>
</div>

<div class="span2">
<p>Дата:
  <%= @article.add_time %>
</p>
</div>

</div><!--row--!>
