<%= form_for(@vacancy) do |f| %>

<div id="newVacForm">	
	<table id="newVac_table">
		
		<tr>
			<td id="profession-label"><span class="resVac_data required"><%=  t(:position) %></span></td>
			<td class="element"><%= f.text_field :position, :size => "60", :maxlength => "100", :required => true %></td>
		</tr>


		<tr>
			<td id="org-label"><span class="resVac_data optional"><%=  t(:organisation) %></span></td>
			<td class="element"><%= f.text_field :organisation, :size => "60", :maxlength => "100"  %></td>
		</tr>



		<tr>
			<td id="experience-label"><span class="resVac_data optional"><%=  t(:experience) %></span></td>
			<td class="element"><%= f.text_field :experience, :size => "60", :maxlength => "100" %></td>
		</tr>



		<tr>
			<td id="wage-label"><span class="resVac_data optional"><%=  t(:salary) %></span></td>
			<td class="element"><%= f.text_field :salary, :size => "60", :maxlength => "100" %></td>
		</tr>




		<tr>
			<td id="phone-label"><span class="resVac_data optional"><%=  t(:phone) %></span></td>
			<td class="element"><%= f.text_field :phone, :size => "60", :maxlength => "100", :required => true %></td>
		</tr>



		<tr>
			<td id="comment-label"><span class="resVac_data optional"><%=  t(:comment) %></span></td>
			<td class="element"><%= f.text_field :note, :size => "60", :maxlength => "255" %></td>
		</tr>
	</table>
</div>
<hr class="hr">
<%= f.submit :submit,  :value => t(:add_vacancy_button), :class => "NewVacButton" %> 
<% end %>