<%= form_for(@vacancy) do |f| %>

<div id="newVacForm"><table id="newVac_table">
	
<tr><td id="profession-label"><%= f.label :position, :class => "resVac_data required" %></td>
<td class="element"><%= f.text_field :position, :size => "60", :maxlength => "100", :required => true %></td>
</tr>


<tr><td id="org-label"><%= f.label :organisation, :class => "resVac_data optional"   %></td>
<td class="element">
<%= f.text_field :organisation, :size => "60", :maxlength => "100"  %></td></tr>



<tr><td id="experience-label"><%= f.label :experience, :class => "resVac_data optional" %></td>
<td class="element">
<%= f.text_field :experience, :size => "60", :maxlength => "100" %></td></tr>



<tr><td id="wage-label"><%= f.label :wage,  :class => "resVac_data optional" %></td>
<td class="element">
<%= f.text_field :salary, :size => "60", :maxlength => "100" %></td></tr>




<tr><td id="phone-label"><%= f.label :phone, :class => "resVac_data required" %></td>
<td class="element">
<%= f.text_field :phone, :size => "60", :maxlength => "100", :required => true %></td></tr>



<tr><td id="comment-label"><%= f.label :comment, :class => "resVac_data optional" %></td>
<td class="element">
<%= f.text_field :note, :size => "60", :maxlength => "255" %></td></tr>

</table>

</div>
<hr class="hr">
<%= f.submit :submit,  :value => "Add Vacancy", :class => "NewVacButton" %> <%= link_to 'Back', vacancies_path, :class => "NewVacButton" %>
<% end %>