<div id="filterContainer">
  Фильтр:<input type="text" class="span8" id="quickSearchQuery" placeholder="Введите вакансию">
</div>
<div id="vacancy_search">
  <table id='vacancy_table_result'>
    <tr>
      <td class='vacancy_table_header' id='vacancy_profession'>Профессия</td>
      <td class='vacancy_table_header' id='vacancy_lengthOfService'>Опыт</td>
      <td class='vacancy_table_header' id='vacancy_earns'>Зарплата</td>
      <td class='vacancy_table_header' id='vacancy_organisation'>Организация</td>
      <td class='vacancy_table_header' id='vacancy_phone'>Телефон</td>
      <td class='vacancy_table_header' id='vacancy_dateOf'>Дата добавления</td>
    </tr>
    <% @vacancies.each do |t| %>
      <tr>
        <td class='vacancy_table_result_left'> <%= link_to t.position.slice(0..32), "/vacancies/#{t.id}", title: "Подробнее о вакансии #{t.position}" %></td>
        <td> <%= t.experience && t.experience.slice(0..32) %></td>
        <td> <%= t.salary && t.salary.slice(0..32) %></td>
        <td> <%= t.organisation && t.organisation.slice(0..32) %></td>
        <td> <%= t.phone && t.phone.slice(0..32) %></td>
        <td> <%= t.updated_at && t.updated_at.strftime("%d.%m.%Y") %></td>
      </tr>
    <% end %>
  </table>
	<%= will_paginate @vacancies, :previous_label => 'Назад', :next_label => 'Дальше', :renderer => BootstrapPagination::Rails, :class => "pagination pagination-centered" %> 
</div>
