<div id="filterContainer">
  Фильтр:<input type="text" class="span8" id="quickSearchQuery" placeholder="Введите вакансию">
</div>
<div id="vacancy_search">
  <table id='vacancy_table_result'>
    <tr>
      <td class='vacancy_table_header' id='vacancy_profession'>Профессия</td>
      <td class='vacancy_table_header' id='vacancy_lengthOfService'>Опыт</td>
      <td class='vacancy_table_header' id='vacancy_earns'>Зарплата</td>
      <td class='vacancy_table_header' id='vacancy_organisation'>Организация</td>
      <td class='vacancy_table_header' id='vacancy_phone'>Телефон</td>
      <td class='vacancy_table_header' id='vacancy_dateOf'>Дата добавления</td>
    </tr>
    <% @vacancies.each do |t| %>
      <tr>
        <td class='vacancy_table_result_left'> <%= link_to t.position, "/vacancies/#{t.id}" %></td>
        <td> <%= t.experience %></td>
        <td> <%= t.salary %></td>
        <td> <%= t.organisation %></td>
        <td> <%= t.phone %></td>
        <td> <%= t.date.strftime("%d.%m.%Y") %></td>
      </tr>
    <% end %>
  </table>
	<%= will_paginate @vacancies, :previous_label => 'Назад', :next_label => 'Дальше', :renderer => BootstrapPagination::Rails, :class => "pagination pagination-centered" %> 
</div>
