
<div id="vacancy_search" ng-app>
  <input type="text" ng-model="query">
        <table id='vacancy_table_result'>
            <tr>
                <td class='vacancy_table_header' id='vacancy_profession'><%= t(:profession) %></td>
                <td class='vacancy_table_header' id='vacancy_notation'><%= t(:comment) %></td>
                <td class='vacancy_table_header' id='vacancy_lengthOfService'><%= t(:experience) %></td>
                <td class='vacancy_table_header' id='vacancy_earns'><%= t(:salary) %></td>        
                <td class='vacancy_table_header' id='vacancy_organisation'><%= t(:organisation) %></td>
                <td class='vacancy_table_header' id='vacancy_phone'><%= t(:phone) %></td>
                <td class='vacancy_table_header' id='vacancy_dateOf'><%= t(:add_date) %></td>
            </tr>
<% @vacancies.each do |t| %>
           <tr>
                <td class='vacancy_table_result_left'> <%= link_to t.position, "/vacancies/#{t.id}" %></td>
                <td> <%= t.note %> </td>
                <td> <%= t.experience %></td>
                <td> <%= t.salary %></td>
                <td> <%= t.organisation %></td>
                <td> <%= t.phone %></td>
                <td> <%= t.date.strftime("%d.%m.%Y") %></td>
            </tr>
<% end %>
        </table>
	<p><%= will_paginate @vacancies, :previous_label => 'Назад', :next_label => 'Дальше' %></p>
</div>
