
<div id="vacancy_search">    
        <table id='vacancy_table_result'>
            <tr>
                <td class='vacancy_table_header' id='vacancy_profession'>Profession</td>
                <td class='vacancy_table_header' id='vacancy_notation'>Note</td>
                <td class='vacancy_table_header' id='vacancy_lengthOfService'>Experience</td>
                <td class='vacancy_table_header' id='vacancy_earns'>Salary</td>        
                <td class='vacancy_table_header' id='vacancy_organisation'>Organisation</td>
                <td class='vacancy_table_header' id='vacancy_phone'>Phone</td>
                <td class='vacancy_table_header' id='vacancy_dateOf'>Adding date</td>
            </tr>
<% @vacancies.each do |t| %>
           <tr>
                <td class='vacancy_table_result_left'> <%= t.position %></td>
                <td> <%= t.note %> </td>
                <td> <%= t.experience %></td>
                <td> <%= t.salary %></td>
                <td> <%= t.organisation %></td>
                <td> <%= t.phone %></td>
                <td> <%= t.date %></td>
            </tr>
<% end %>
        </table>
</div>