<% provide(:title,"Вакансия #{@vacancy.position.mb_chars.capitalize}") %>
<div class="row" >
  <div class="span9" style="color:#0088cc" >
    <h3><%= @vacancy.position.mb_chars.capitalize %><br><p><small class="lead muted">вакансия</small></p></h3>
  </div>
</div>
<hr>
<div class="row">
  <div class="span4" style="word-wrap:break-word;">
    <p><h4>Условия и требования: </h4></p>
    <div class="row">	
      <div class="span2"><p><b>Минимальная зарплата</b></p> </div>
      <div class="span2"><p><%= @vacancy.salary %></p></div>
    </div>
    <div class="row">
      <div class="span2"><p><b> Стаж</b></p></div>
      <div class="span2"><p> <%= @vacancy.experience %></p> </div>
    </div>
    <div class="row">
      <div class="span2"><p><b> Организация</b></p></div>
      <div class="span2"><p><%= @vacancy.organisation %></p> </div>
    </div>
    <div class="row">
      <div class="span2"><p><b> Телефон</b></p></div>
      <div class="span2"><p><%= @vacancy.phone %></p></div>
    </div>
    <div class="row">
      <div class="span2"><p><b>Дата внесения</b></p></div>
      <div class="span2"><p><%= @vacancy.updated_at && @vacancy.updated_at.strftime("%d.%m.%Y") %></p></div>
    </div>
    <div class="row">
      <% if @user==@vacancy.user %> 
        <div class="span3 offset1" style="padding-top:20px" >
          <%= link_to "изменить", {:controller => :vacancies, :action => :edit, :id => @vacancy.id}, :class =>"btn-small btn-warning" %>
          <%= link_to "удалить", {:controller => :vacancies, :action => :destroy, :id => @vacancy.id}, :method=> :delete, :class => "btn-small btn-warning" %>
        </div>
      <% else %>
      <% end %>
    </div>
  </div>
  <div class="span5">
    <h4>Описание вакансии:</h4>
    <div> <p><%= simple_format(@vacancy.note) if @vacancy.note %></p></div>
  </div>
</div>
<hr>
<ul class="pager">
  <% if @vacancy.next_post %>
    <li class="previous">
    <a href="<%= @vacancy.next_post.id if @vacancy.next_post %>" title="Предыдущая вакансия <%= @vacancy.next_post.position %>"><i class="icon-arrow-left"></i><%= @vacancy.next_post.position %> </a>
    </li>
  <% end %>
  <% if @vacancy.previous_post %>
    <li class="next">
    <a href="<%= @vacancy.previous_post.id if @vacancy.previous_post %>" title="Следующая вакансия <%= @vacancy.previous_post.position %>" ><%= @vacancy.previous_post.position %><i class="icon-arrow-right"></i></a>
    </li>
  <% end %>
</ul>
