<p id="notice"><%= notice %></p>

<div style="text-align:center;"><p> <h4><%= @article.title %></h4> </p></div>
<div><div style="float:left"><%= @article.mini_img %></div><div><p> <%= @article.text %> </p></div></div>

<div class="row"><p> <div class="span4"><i><%= @article.author %></i> </p></div>
  <div class="span4">  <p> <b><%= @article.add_time %></b> </p></div>
</div>







