     
<div id="left"> 
	<div id="tabs">
    	<ul>
    		<li><a href="#vacancy">Vacancy</a></li>
    		<li><a href="#resume_index">Resume</a></li>
    	</ul>
        <div id="vacancy">
        	<%= form_for :search1 do |v| %>   
            <table class="search_table">
                <tr>
                	<td><%= v.text_field :search,  :class => "tags", :placeholder =>"Введите название вакансии" %></td>
                	<td><%= v.submit "Поиск", :class => :search_table_button %></td>

				</tr>	  				
            </table> 
        	<% end %>
        </div>	                
   		<div id="resume_index">
   			<%= form_for :search1 do |v| %>
            <table  class="search_table">
                <tr>
                 <td><%= v.text_field :search, :class => "tags", :placeholder =>"Введите ключевое слово в резюме" %></td>
                	<td><%= v.submit "Поиск", :class => :search_table_button %></td>
                </tr>
            </table>
            <% end %>  
        </div>	                         
	</div>	
	<div class='vacancies_module' >                   
        <div class="popVac">               
            <a href="vacancy.php" class="vacancy_module_header">Popular vacancies</a>
        </div>
        <div class="pop_vacancy">
            <ul>                                
                 <li><a  href=''>Engineer</a></li>
                 <li><a  href=''>Mechanic</a></li>
                 <li><a  href=''>Driver</a></li>
                 <li><a  href=''>Manager</a></li>
                 <li><a  href=''>Agent</a></li>                                
            </ul>
        </div>                    
	</div>
	 <div class='vacancies_module'>                    
        <div class="popVac">               
            <a href="?resume" class="vacancy_module_header">Last Resume</a>
        </div>
        <div class="pop_vacancy">
            <ul>
              <% @res.each do |r| %>
              <li>
              <%=  link_to r.name, :id => r.id, :controller => :resumes, :action => :show %>
              <% if session[:group_id] == 2 %>
              <%= link_to image_tag("edit_profile.jpg", :border => 0), :controller => :resumes, :action => :edit, :id => r.id %>
              <%= link_to image_tag("deleteBut.gif", :border => 0), {:controller => :resumes, :action => :destroy, :id => r.id }, :method => :delete, :confirm => "Are you sure?"%>
              </li>
              <% end %>
              <% end %>
            </ul>
        </div>
	</div> 
     <div class='vacancies_module'>                  
        <div class="popVac">               
            <a href="?vacancy" class="vacancy_module_header">New Vacancies</a>
        </div>
        <div class="pop_vacancy">
            <ul id="newVacUL">
               <% @vac.each do |f| %>
               <li class='noWrap'>               
	               <%= link_to f.position, { :controller => :vacancies,:action => :show, :id => f.id } %> 
	               <% if session[:group_id] == 2 %>
	               <%= link_to image_tag("edit_profile.jpg", :border => 0),{ :controller => :vacancies, :action => :edit, :id => f.id } %> 
	               <%= link_to image_tag("deleteBut.gif", :border => 0), { :controller => :vacancies, :action => :destroy, :id => f.id }, :method => :delete, :confirm => "Are you sure?" %>
	               <% end %>
               </li>       
               <% end %>                   
            </ul>
        </div>                   
	</div>	
	<div style='clear: both; padding: 10px;'>
		<hr  class="hr_index" />
        <div class="main_footer_text"> 
            <div class="footer_text"> Найти себе достойную <strong>работу в Нижневартовске</strong> зачастую сложно, а <strong>работу</strong>, которая бы Вам нравилась и высоко оплачивалась – ещё сложнее. Если Вы ищете <em>работу</em>, которая бы Вам отлично подходила и по обязанностям и по зарплате, Вы можете потратить на поиск такой работы много времени. Отчаявшись найти себе хорошую работу, многие просто идут устраиваться на ту, на которую им предлагают, и на которой их труд совсем не ценится.</div>    
            <div class="footer_text"> Сам поиск <strong>работы</strong> – дело сложное и требующее много времени – искать свободные вакансии, просматривать газеты, обращаться в кадровые агентства, и т.д. – всё это очень трудоёмкий и выматывающий процесс.</div>    
            <div class="footer_text">Мы предлагаем Вам искать  <span class="underline-text">работу в Нижневартовске</span> с помощью нашего сайта – для этого Вам не нужно будет вручную выписывать объявления, вновь и вновь просматривать не интересующие Вас вакансии, таким образом теряя своё время. Для того чтобы найти работу на нашем сайте, достаточно лишь ввести критерии нужной Вам работы и из списка вакансий, подходящих Вам по всем критериям, выбрать наиболее понравившийся Вам вариант. Кроме того, на нашем сайте собраны вакансии от работодателей, которые осуществляют прием на работу квалифицированных сотрудников, или сотрудников без опыта работы, поэтому найти работу на нашем сайте сможет каждый.</div>
		</div>
	</div>
</div>
         
<%= session %>
           