<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<%= form_for @user do |f| %>
<% if @user.errors.any? %>
<div id="error_explanation">
<h2><%= pluralize(@user.errors.count, "error") %>
, сведения об этом пользователе не могут быть сохранены:</h2>
<ul>
<% @user.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
</div>
<% end %>
<fieldset>
<legend>Заполните следующие поля, пожайлуста</legend>
<div>
<%= f.label :name, 'Логин' %>
<%= f.text_field :name, size: 40 %>
</div>
<div>
<%= f.label :password, 'Пароль' %>
<%= f.password_field :password, size: 40 %>
</div>
<div>
<%= f.label :password_confirmation, 'Подтверждение' %>
<%= f.password_field :password_confirmation, size: 40 %>
</div>
<div>
  <%= f.label :mail, 'Электронная почта' %>
  <%= f.text_field :mail, size: 40 %>
  <div>
    <label class='radio'>
      <%= f.radio_button :who, false, :type=> 'radio' %>ищу вакансию
  </label>
  <label class='radio'>
    <%= f.radio_button :who, true, :type=> 'radio' %>ищу сотрудника
  </label>
  
</div>
<div>
  <%= f.label :org, 'Организация' %>
  <%= f.text_field :org, size: 40 %>
</div>
<div>
  <%= f.label :phones, 'Телефон' %>
  <%= f.text_field :phones, size: 40 %>
</div>
<div>
  <%= f.label :image_url, 'Фото или логотип' %>
  <%= f.file_field :image_url %>
  </div>
  <br>
  <div>
  <%= f.button 'Готово!', :class=>'btn btn-large' %>
</div>
</fieldset>
<% end %>
