#coding: utf-8
<h1>Продается 3-х комнатная квартира</h1>
<hr>
<h2>Продается уютная 3-х комнатная квартира на 8 этаже 9-этажного дома ДСК. Рядом детские сады, школы, колледж, магазины. Санузел раздельный, окна пластиковые. Квартира в отличном состоянии.</h2>
<h2>Цена: 3 870 000 руб.,небольшой торг</h2>
<h2>Телефон: <%= image_tag("kvartira/phone.jpg") %></h2>
<%= image_tag("kvartira/1.jpg") %>
<hr>
<%= image_tag("kvartira/2.jpg") %>
<hr>
<%= image_tag("kvartira/3.jpg") %>
<hr>
<%= image_tag("kvartira/4.jpg") %>
<hr>
<%= image_tag("kvartira/5.jpg") %>
<hr>
<%= image_tag("kvartira/6.jpg") %>
<hr>
<%= image_tag("kvartira/7.jpg") %>
<hr>
<%= image_tag("kvartira/8.jpg") %>
