<div class="row">
  <fieldset>
    <legend>Работодателю</legend>
    <div>
        <ul class="thumbnails">
          <li class="span3">
          <div class='thumbnail text-center'>
          <div class="caption">
        <h4><a href="/vacancies/new" title="Добавить новую вакансию в базу">Добавить вакансию</h4>
          <%= image_tag("addvacansy.png", :alt=>"Добавить вакансию на сайт Работа в Нижневартовске") %></a>
        <%= simple_format %Q`Хороший способ быстро найти сотрудников — разместить на сайте вакансии в Нижневартовске, открытые в вашей компании. На сайте можно не только добавлять новые вакансии, но и обновлять уже имеющиеся — это очень удобно, если в компании идет массовый набор сотрудников.` %>
      </div>
    </div>
        </li>


        <li class="span3">
          <div class='thumbnail text-center'>
            <div class="caption">
        <h4><%= link_to "Последние резюме","resumes", title: "Недавно добавленные резюме" %></h4>
        <ul class="unstyled text-left">
          <% @res && @res.each do |r| %>
            <li>
            <%=  link_to r.position.slice(0..32), {:id => r.id, :controller => :resumes, :action => :show},title: "Подробнее о резюме #{r.position}" %>
            </li>
            <br>
          <% end %>
          <br>
        </ul>
      </div>
    </div>
        </li>
        <li class="span3">
          <div class='thumbnail text-center'>
            <div class="caption">
        <h4><%= link_to "Лучшие резюме","resumes", title: "Лучшие резюме" %></h4>
        <ul class="thumbnails">
          <% @best && @best.each do |r| %>
            <li>
            <div class="thumbnail text-center span2">
              <%= r.name.slice(0..32) %><br>
              <a href="/resumes/<%= r.id %>"><%= image_tag(r.avatar_url(:thumb), border: 0,class: "img-circle") %></a><br>
            <%=  link_to r.position.slice(0..32), {:id => r.id, :controller => :resumes, :action => :show},title: "Подробнее о резюме #{r.position}" %>
          </div>
            </li>
          <% end %>
          <br>
        </ul>
      </div>
    </div>
        </li>
      </ul>

    </div>
  </fieldset>
</div>
