<div class="row">
  <div class="span9 ">
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a href="#vacancy_search_block" title="Поиск по базе вакансий">Вакансии</a></li>
      <li><a href="#resume_search_block" title="Поиск по базе резюме">Резюме</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="vacancy_search_block">
        <%= form_tag  ("/vacancies/search" ), method: :get do %>
          <div class="span7">
            <%= text_field_tag :search, params[:search], :class => "span7",  :placeholder =>"Введите вакансию" %>
          </div>
          <div class="span1">
            <%=  button_tag "Поиск", :class => "btn btn-info" %>
          </div>
        <% end %>
      </div>
      <div class="tab-pane" id="resume_search_block">
        <%= form_tag  ("/resumes/search" ), method: :get do %>
          <div class="span7 ">
            <%= text_field_tag :search, params[:search], :class => "span7", :placeholder =>"Введите ключевое слово в резюме" %>
          </div>
          <div class="span1">
            <%=  button_tag "Поиск", :class => "btn btn-info" %>
          </div>
        <% end %>
    </div>
  </div>
</div>
</div>
