  <div class="row">
    <div class="span9 ">
      <ul class="nav nav-tabs" id="myTab">
        <li class="active"><a href="#vacancy_search_block">Вакансии</a></li>
        <li><a href="#resume_search_block">Резюме</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="vacancy_search_block">
          <%= form_tag  ("/vacancies/search" ), method: :get do %>
            <div class="span7">
              <%= text_field_tag :search, params[:search], :class => "span7",  :placeholder =>"Введите вакансию" %>
            </div>
            <div class="span1">
              <%=  button_tag "Поиск", :class => "btn btn-info" %>
            </div>
          <% end %>
        </div>
        <div class="tab-pane" id="resume_search_block">
          <%= form_tag  ("/resumes/search" ), method: :get do %>
            <div class="span7 ">
              <%= text_field_tag :search, params[:search], :class => "span7", :placeholder =>"Введите ключевое слово в резюме" %>
            </div>
            <div class="span1">
              <%=  button_tag "Поиск", :class => "btn btn-info" %>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <fieldset>
      <legend>Работнику</legend>
	    <div>
		    <div class="span3">
			    <h4><a href="/resumes/new">Добавить резюме</h4>
			    <%= image_tag("addresume.png")%></a>
		    </div>
		    <div class="span3">
                      <h4><%= link_to "Новые вакансии","vacancies" %></h4>
			    <ul class="unstyled">
				    <% @vac.each do |f| %>
                              
				   <li>               
	               <%= link_to f.position, { :controller => :vacancies,:action => :show, :id => f.id } %> 
	               <% if session[:group_id] == 2 %>
	               <%= link_to image_tag("edit_profile.jpg", :border => 0),{ :controller => :vacancies, :action => :edit, :id => f.id } %> 
	               <%= link_to image_tag("deleteBut.gif", :border => 0), { :controller => :vacancies, :action => :destroy, :id => f.id }, :method => :delete, :confirm => "Are you sure?" %>
	               <% end %>
                       </li><br> 
                       <% end %>
			    </ul>
		    </div>
		    <div class="span3">
                    <h4><%= link_to "Популярные вакансии","vacancies" %></h4>
			    <ul class="unstyled">
                                <% @pop.each do |f| %>
				   <li>               
				       <%= link_to f.position, { :controller => :vacancies,:action => :show, :id => f.id } %> 
				   </li><br>
                       <% end %>
				    <br>
				    
			    </ul>
		    </div>
	    </div>
	    </fieldset>
    </div>

	<div class="row">
    
    <fieldset>
      <legend>Работодателю</legend>

	    <div>
		    <div class="span3">
			    <h4><a href="/vacancies/new">Добавить вакансию</h4>
			    <%= image_tag("addvacansy.png") %></a>

		    </div>
		    <div class="span3">
			    <h4><a href="#">Добавить курсы</h4>
			    <%= image_tag("addcourse.png") %></a>
		    </div>
		    <div class="span3">
            <h4><%= link_to "Последние резюме","resumes" %></h4>
                <ul class="unstyled">
                    <% @res.each do |r| %>
                    <li>
                        <%=  link_to r.position, :id => r.id, :controller => :resumes, :action => :show %>
                        <% if session[:group_id] == 2 %>
                            <%= link_to image_tag("edit_profile.jpg", :border => 0), :controller => :resumes, :action => :edit, :id => r.id %>
                            <%= link_to image_tag("deleteBut.gif", :border => 0), {:controller => :resumes, :action => :destroy, :id => r.id }, :method => :delete, :confirm => "Are you sure?"%>
                        <% end %>
                    </li>
                    <br>
                    <% end %>
                    <br>
                </ul>
            </div>
	    </div>
	    </fieldset>
    </div>
    <div class="row">
      <div class="span12 footer_container">
        <div class="footer_text"> Найти себе достойную <strong>работу в Нижневартовске</strong> зачастую сложно, а <strong>работу</strong>, которая бы Вам нравилась и высоко оплачивалась – ещё сложнее. Если Вы ищете <em>работу</em>, которая бы Вам отлично подходила и по обязанностям и по зарплате, Вы можете потратить на поиск такой работы много времени. Отчаявшись найти себе хорошую работу, многие просто идут устраиваться на ту, на которую им предлагают, и на которой их труд совсем не ценится.</div>

        <div class="footer_text"> Сам поиск <strong>работы</strong> – дело сложное и требующее много времени – искать свободные вакансии, просматривать газеты, обращаться в кадровые агентства, и т.д. – всё это очень трудоёмкий и выматывающий процесс.</div>

        <div class="footer_text">Мы предлагаем Вам искать  <span class="underline-text">работу в Нижневартовске</span> с помощью нашего сайта – для этого Вам не нужно будет вручную выписывать объявления, вновь и вновь просматривать не интересующие Вас вакансии, таким образом теряя своё время. Для того чтобы найти работу на нашем сайте, достаточно лишь ввести критерии нужной Вам работы и из списка вакансий, подходящих Вам по всем критериям, выбрать наиболее понравившийся Вам вариант. Кроме того, на нашем сайте собраны вакансии от работодателей, которые осуществляют прием на работу квалифицированных сотрудников, или сотрудников без опыта работы, поэтому найти работу на нашем сайте сможет каждый.</div>
      </div>
    </div>
    
