<p id="notice"><%= notice %></p>

<p>
  <b>Login:</b>
  <%= @resume.login %>
</p>

<p>
  <b>Password:</b>
  <%= @resume.password %>
</p>

<p>
  <b>Position:</b>
  <%= @resume.position %>
</p>

<p>
  <b>Name:</b>
  <%= @resume.name %>
</p>

<p>
  <b>Sex:</b>
  <%= @resume.sex %>
</p>

<p>
  <b>Mar status:</b>
  <%= @resume.mar_status %>
</p>

<p>
  <b>Age:</b>
  <%= @resume.age %>
</p>

<p>
  <b>Experience:</b>
  <%= @resume.experience %>
</p>

<p>
  <b>City:</b>
  <%= @resume.city %>
</p>

<p>
  <b>Min wage:</b>
  <%= @resume.min_wage %>
</p>

<p>
  <b>Schedule:</b>
  <%= @resume.schedule %>
</p>

<p>
  <b>Skills:</b>
  <%= @resume.skills %>
</p>

<p>
  <b>Education:</b>
  <%= @resume.education %>
</p>

<p>
  <b>About:</b>
  <%= @resume.about %>
</p>

<p>
  <b>Phone:</b>
  <%= @resume.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @resume.email %>
</p>

<p>
  <b>Date:</b>
  <%= @resume.date %>
</p>

<p>
  <b>View:</b>
  <%= @resume.view %>
</p>

<p>
  <b>Avatar:</b>
  <%= @resume.avatar %>
</p>

<p>
  <b>Group:</b>
  <%= @resume.group_id %>
</p>


<%= link_to 'Edit', edit_resume_path(@resume) %> |
<%= link_to 'Back', resumes_path %>
