
<div id='showResume'>
    <div id='doljnost' ><%= @resume.position %>
    <% if @user==@resume.user %>
    <div style="float:right; padding-right: 20px;">
           <%= link_to "Изменить", {:controller => :resumes, :action => :edit, :id => @resume.id} , :class => "btn btn-warning" %>
           <%= link_to "Удалить", {:controller => :resumes, :action => :destroy, :id => @resume.id}, :method=> :delete, :class => "btn btn-warning" %>
       
      </div>
      <% end %>
    </div>           
         
    <div class='resume_podheaders'><%= t(:date_add_show) %>: <%= @resume.date.strftime("%d.%m.%Y") %>,  <%= t(:views_count) %>: <%= @resume.view %></div>
    <p class='resume_headers'><%= t(:info) %></p>
    <table id='resumeTable'>    
        <tr>
            <td class='resVac_add' id='leftBlockResumeTable'>
            	<%= t(:name) %> 
            </td>
            <td class='resVac_data' id='centralBlockResumeTable'>
            	<div id='imya'> <%= @resume.name %></div>            
            </td>
            <td rowspan='8' id='rightBlockResumeTable'>
            	<%= image_tag(@resume.avatar_url(:big).to_s, :border => 0) %>                 
       		</td>
       </tr>
        <tr>
            <td class='resVac_add'><%= t(:sex_show) %></td>
            <td class='resVac_data'>
            
            <div id='pol'>
            	<% if (@resume.sex == '1') %>
            		<%= t(:male) %>
            	<% end %>
            	<% if (@resume.sex == '2') %>            	
            		<%= t(:female) %>            	
            	<% end %>
            </div>
            
           </td>
        </tr> 
        <tr>
            <td class='resVac_add'><%= t(:age) %></td>
            <td class='resVac_data'>
            
            <div id='vozrast'> <%= @resume.age %></div>
            
            </td>
        </tr>
        <tr>
            <td class='resVac_add'><%= t(:experience) %></td>
            <td class='resVac_data'>
            <div id='staj'> <%= @resume.experience %></div>
            
          </td>
        </tr>
        <tr>
            <td class='resVac_add'><%= t(:city) %></td>
            <td class='resVac_data'>
            <div id='gorod'> <%= @resume.city %></div>
            
            </td>
        </tr>
        <tr>
            <td class='resVac_add'><%= t(:min_salary) %></td>
            <td class="resVac_data">
            
            <div id='min_zarplata'>  <%= @resume.min_wage %></div>
            
           </td>
        </tr>
        <tr>
            <td class='resVac_add'><%= t(:schedule_show) %></td>
            <td class='resVac_data'>
            <div id='grafik'> 
            	<% if (@resume.schedule == '1') %>
            		<%= t(:full_time) %>
            	<% end %>
            	<% if (@resume.schedule == '2') %>            	
            		<%= t(:flexible) %>           	
            	<% end %>
            	
            
            </div>
            
          </td>
        </tr>
        <tr>
            <td class='resVac_add'></td>
            <td class='resVac_data'>
            </td>
            <td>
           
           
         
            </td>
        </tr>
        <tr>
            <td class='resVac_add'></td>
            <td class='resVac_data'>
            </td>
            <td>      
            </td>
        </tr>
        
    </table>       

    <p class='resume_headers'>
    	<%= t(:education_show) %>
    </p>
    <p class='resume_dannie'>
    	<div id='obrazovanie'><%= simple_format(@resume.education) %></div>
    </p>
    <p class='resume_headers'>
    	<%= t(:skills_show) %>
    </p>
    <p class='resume_dannie'>
    	<div id='naviki'><%= simple_format(@resume.skills) %></div>
    </p>
    <p class='resume_headers'>
    	<%= t(:about_show) %>
    </p>
    <p class='resume_dannie'>
    	<div id='osebe'><%= simple_format(@resume.about) %></div>
    </p>
    <p class='resume_headers'>
    	<%= t(:contact_info) %>
    </p>
    <div class='resume_data_contact'>
    	<%= t(:phone_show) %>: <span id='telefon'><%= @resume.phone %></span>            
    </div>
    <div class='resume_data_contact'>
    	<%= t(:email_show) %>: <span id='email'>
	<% io=@resume.email.split('@') %>
	<%= io[0] %><%= image_tag('atmini.jpg') %><%= io[1] %></span>
    </div>
</div>

