<!DOCTYPE html>
<html>
<head>
  <title><%= t('title') %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="feedback"><%= image_tag("feedback.png") %></div>
<div id="main">    
       
	<div id="header">
	    <div id="header_left">
	        <a href='/'> <%= image_tag("logo_new1.jpg") %></a>
	    </div>
	    <div id="header_right"> <a href="/"><h1 class='header_text'><%= t('header.h1_text') %></h1></a> 
	    </div>
	</div>   
       
	<div id="coolmenu">
	<ul>
	   <li><%= link_to t('main_menu.index_page'), :controller => :index, :action => :index %></li>
	   <li><%= link_to t('main_menu.vacan_page'), vacancies_url %></li>
	   <li><%= link_to t('main_menu.resum_page'), resumes_url %></li>
	   <li><%= link_to t('main_menu.artic_page'), articles_url %></li>
	</ul>     
	</div>
     
	<div id="content">
		
		<%= yield %>	
	
  		<div id="footer">        
	        <div id="contact_menu">            
	            <a href="http://www.city-nv.ru/">Powered By Web Service</a><br />
	        </div>    
	        <div id="footmenu">
	              <div id="footmenu_main"> 
	                  <span class="footer">
	                        <%= link_to t('main_menu.index_page'), :controller => :index, :action => :index %> |
	                        <%= link_to t('main_menu.vacan_page'), vacancies_url %> |
	                        <%= link_to t('main_menu.resum_page'), resumes_url %> |
	                        <%= link_to t('main_menu.artic_page'), articles_url %>
	                  </span>
	              </div>
	              <div id="add_text">
	              <span class="footer_text_add">	        
	                Copyright © <%= link_to t('footer.index_page_link_text'), :controller => :index, :action => :index %>.
	                Перепечатка материалов без<br />
	                разрешения <%= link_to t('footer.index_page_link_text'), :controller => :index, :action => :index %> запрещена 
	              </span>
	              </div>
	                
	        </div>
	        <noindex>
		        <div id="counters">
		           <div id="feedbackwindow"></div>           
		        </div>
	        </noindex>
    	</div>    
	</div>
</div>
</body>
</html>
