<p id="notice"><%= notice %></p>

<p>
  <b>Название:</b>
  <%= @course.title %>
</p>

<p>
<b>Место:</b>
  <%= @course.place %>
</p>

<p>
  <b>Формат:</b>
  <%= @course.format %>
</p>

<p>
  <b>Дата начала:</b>
  <%= @course.date %>
</p>

<p>
  <b>Дата окончания:</b>
  <%= @course.date_end %>
</p>

<p>
  <b>Цена:</b>
  <%= @course.price %>
</p>

<p>
  <b>Описание:</b>
  <%= @course.description %>
</p>



